#include <behaviors.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
            RC(3,0) RC(3,1) RC(3,2)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        /* Rows from QMK: C6, D4, D2, D3 */
        row-gpios = <
            &gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        >;

        /* Cols from QMK: F6, F5, F4 */
        col-gpios = <
            &gpio0 29 GPIO_ACTIVE_HIGH
            &gpio0 26 GPIO_ACTIVE_HIGH
            &gpio0 30 GPIO_ACTIVE_HIGH
        >;
    };

    encoder0: encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <4>;
        status = "okay";
    };
};