#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";


        media_layer {
            display-name = "MEDIA";
            bindings = <
                &kp C_PREV        &kp C_PP        &kp C_NEXT
                &kp LG(Z)         &kp LG(LS(Z))   &kp LA(UP)
                &kp LG(C)         &kp LG(V)       &kp LA(DOWN)
                &to 1             &kp LG(S)       &kp ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        dev_layer {
            display-name = "DEV";
            bindings = <
                &kp LC(LA(L))     &kp LC(LA(T))     &kp LC(LA(P))
                &kp LC(LS(MINUS)) &kp LC(GRAVE)     &kp UP
                &kp LC(MINUS)     &kp LG(B)         &kp DOWN 
                &to 0             &kp ESC           &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
