#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
 * 4x3 grid (USB at top):
 *
 *   [ 7 ] [ 8 ] [ 9 ]
 *   [ 4 ] [ 5 ] [ 6 ]
 *   [ 1 ] [ 2 ] [ 3 ]
 *   [TOG] [ 0 ] [ . ]
 *
 * Layer 0 = numpad (debug). Layer 1 = macros/dev.
 * Encoder click (bottom-left) toggles layer.
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "NUMPAD";
            bindings = <
                &kp N7            &kp N8       &kp N9
                &kp N4            &kp N5       &kp N6
                &kp N1            &kp N2       &kp N3
                &tog 1            &kp N0       &kp DOT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        dev_layer {
            display-name = "DEV";
            bindings = <
                &kp C_PREV        &none        &kp C_NEXT
                &kp LG(C)         &kp LG(V)    &kp LG(X)
                &kp LG(Z)         &kp LG(LS(N3)) &kp LA(SPACE)
                &tog 1            &kp C_MUTE   &kp C_PP
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
