#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
 * 4x3 grid (USB at top):
 *
 *   [ 7 ] [ 8 ] [ 9 ]
 *   [ 4 ] [ 5 ] [ 6 ]
 *   [ 1 ] [ 2 ] [ 3 ]
 *   [TOG] [ 0 ] [ . ]
 *
 * Layer 0 = numpad (debug). Layer 1 = macros/dev.
 * Encoder click (bottom-left) toggles layer.
 */

/ {
    keymap {
        compatible = "zmk,keymap";


        media_layer {
            display-name = "MEDIA";
            bindings = <
                &kp C_PREV       &kp C_PLAY_PAUSE &kp C_NEXT
                &kp C_VOL_DN     &kp C_MUTE       &kp C_VOL_UP
                &kp C_BRI_DN     &kp C_BRI_UP     &kp LA(DELETE)
                &lt 1 C_MUTE     &mo 0            &kp ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        default_layer {
            display-name = "DEV";
            bindings = <
                &kp LGUI_GRAVE    &kp LS(LGUI_P)    &kp LS(LGUI_A)
                &kp LCTRL_LALT(L) &kp LCTRL_LALT(T) &kp LCTRL_LALT(P)
                &kp F8            &kp LS(F8)        &kp LS(LALT_F)
                &lt 0 C_MUTE      &mo 0             &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        /*
        dev_layer {
            display-name = "EDIT";
            bindings = <
                &kp LGUI_GRAVE   &kp LGUI_P     &kp LS(LGUI_P)
                &kp C_COPY       &kp C_PASTE    &kp C_CUT
                &kp C_UNDO       &kp C_AGAIN    &kp C_S
                &lt 0 C_MUTE     &kp C_MUTE    &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
        */
    };
};
